* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.top {
    padding: 10px;
    background-color: #08101E;
    padding-bottom: 99px;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header__link {
    color: var(--ffffff, #FFF);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    align-items: flex-start;
    gap: 128px;
}

.top__info {
    width: 604px;
}

.subtitle {
    margin-bottom: 10px;
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
}

.title {
    margin-bottom: 40px;
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.text {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    width: 559px;
    opacity: 0.7;
}

.top__buttons {
    margin-top: 50px;
    display: flex;
}

.button {
    display: inline-flex;
    padding: 15px 30px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 20px;
}

.top__logos {
    display: flex;
    justify-content: space-between;
    gap: 71px;
}